# ########## 가상환경 ##########
.env
# Python 가상환경 폴더
venv/
.tf_cuda_env/

# ########## 데이터셋 및 로그 ##########
# 대용량 데이터셋 폴더
datasets/
mnist/

# 실험 결과 및 로그 폴더
runs/

# ########## Python 관련 ##########
# Python 캐시 파일 및 폴더
__pycache__/
*.pyc
*.pyo
*.pyd

# 학습 결과, 로그, 체크포인트 (이미지에 보이는 results 폴더)
results/
logs/
checkpoints/

# 데이터 파일 (필요에 따라 주석 해제)
*.json
*.pt
*.pth
*.safetensors
*.jpg
*.png
*.zip
*.csv

# ########## Jupyter Notebook ##########
# Jupyter Notebook 체크포인트 폴더
.ipynb_checkpoints/

# ########## 특정 파일 확장자 ##########
# 이미지 및 압축 파일
*.jpg
*.png
*.zip
*.csv


# ########## 운영체제(OS) 생성 파일 ##########
# macOS 시스템 파일
.DS_Store

# Windows 이미지 썸네일 파일
Thumbs.db